*.class

*~
~*

# Package Files #
*.jar
*.war
*.ear
**/bin
**/libs
**/gen
**/WEB-INF
plox-html/war/de.myreality.plox.GwtDefinition
plox-html/gwt-unitCache
plox-html/war/WEB-INF/deploy
plox-html/war/assets
